NODE_ENV=development
LOG_LEVEL=info
SETUP_FILE=resources/setups.edn
SLACK_API_URL=https://slack.com/api
SLACK_BOT_NAME=mafia-bot
SLACK_BOT_DESCRIPTION=Mafia Bot
SLACK_GAME_CHANNEL=
SLACK_API_TOKEN=
SLACK_BOT_TOKEN=
SLACK_VERIFICATION_TOKEN=

NIGHT_LENGTH=30