NODE_ENV=development
ROOT_DB_USER=postgres
ROOT_DB_HOST=postgres
ROOT_DB_DATABASE=postgres
APP_DB_USER=appuser
APP_DB_PASSWORD=appuser
APP_DB_HOST=postgres
APP_DB_DATABASE=mafiadbdev
APP_DB_DIALECT=postgres
SLACK_BOT_TOKEN=
SLACK_GAME_CHANNEL=